@font-face {
    font-family: "Freight Sans";
    src: url(./font/FreightSans-Medium.ttf);
    font-display: swap;
}
@font-face {
    font-family: "Freight Sans Bold";
    src: url(./font/FreightSans-Bold.ttf);
    font-display: swap;
}
@font-face {
    font-family: "Freight Sans Ultrablack";
    src: url(./font/FreightSans-Ultrablack.ttf);
    font-display: swap;
}
body {
    font-family: "Freight Sans", sans-serif;
    font-size: 15pt;
    color: black;
    text-align: center;
    
    overflow-x: hidden;
    margin: 0;
}
h1 {
    font-family: "Freight Sans Bold", sans-serif;
}

input {
    font-family: inherit;
    font-size: inherit;
    margin-bottom: 0.2em;
}

#logo-container {
    perspective: 200px;
    transform-style: preserve-3d;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    
    overflow-y: hidden;
    overflow-x: auto;
}
#logo {
    font-family: "Freight Sans Ultrablack", sans-serif;
    font-size: 128px;
    
    position: relative;
    
    display: inline-block;
    transform-style: preserve-3d;
    transform: rotate3d(1, 0, 0, 15deg);
    
    height: 1.5em;
    
    margin-bottom: -0.3em;
    
    overflow: visible;
    white-space: nowrap;
}
#logo * {
    overflow: visible;
    white-space: nowrap;
}
#logo-outline, #logo-front, #logo-back {
    height: 1.5em;
    margin-top: -1.5em;
}
#logo-outline {
    -webkit-text-stroke: 6px black;
    text-stroke: 6px black;
    transform: translate(0, 0);
}
#logo-back {
    transform: scale(0.9) translateY(20px);
    color: #a1c3c4;
    margin-top: 0;
}
#logo-front {
    color: #ffff1f;
    transform: translate(0, 0);
}

#logo-outline img {
    opacity: 0;
}

#subtitle {
    font-family: "Freight Sans Bold", sans-serif;
    font-size: 32px;
}
#subtitle.low {
    margin-top: 0.5em;
}

.appel {
    height: 0.65em;
    margin: 0 3px -2px 3px;
    image-rendering: pixelated;
}
</style>